
<div class="row">
    
    <div class="container">
        <form action=" " method='POST'>

            <h3>I am an existing User</h3><br><br>
            <div class="form-outlone mb-4">
              <label>Email</label> <br>         
              <input type="email" name="email"  class="form-control" placeholder="Email"/>
            </div>
            <div class="form-outlone mb-4">
                <label>Password</label>         <br>       
                <input type="password" name="password" class="form-control" placeholder="Password"/>
            </div>
            <button class="btn" name="submit">SIGN IN</button><br>
            <label class="center" >Forget Passowrd?</label>
            <br>
            <br>
            <br>
            <br>
            </form>
                
            </div>
        </div>

