
.container{

    
    margin-left:20%;
    margin-top:5vh;
    
    padding:5%;
    font-size:150%;
    width:60%;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blue;

}
.center{
    text-align: center;
    width:100%;
}
h3{
    text-align: center;
}
label{
    color:blue;
    font-size: 90%;
}
nav{
  padding:2%;

}
.left{
  width:100%;
  text-align: right;
}
.right{
  justify-items: right;
  
  align-items:right;
}
.btn{
  background-color: blue;
  color:white;
  width:50%;
  margin-left:25%;

}
a{
  color:purple;
}