<div class="container">
        <div *ngFor="let e of p;" class="blog">

            <div class="row">
                <div class="row">
                <h3>{{e.title}}</h3><br/></div>
                <br>
                <div class="row">
                <h6><i>@{{e.w_id}}</i></h6>
                </div>
                <hr/>
                <br>
                <br>
                <div class="row">
                <p>{{e.content}}</p>
            </div>
            </div>
           </div>
        </div>